
body {
    margin: 0;
    padding: 0;
}

#top-bar {
    background: #181828;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;

}

#red-light,
#green-light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.container-lampada {
    display: flex;
    width: 100%;
    background: white;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

#red-light {
    background-color: red;
}

#green-light {
    background-color: green;
}

#info-line {
    display: flex;
    justify-content: space-around;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
    overflow: hidden;
    /* Evita barras de rolagem dentro do iframe */
}

#info-line span{
    padding-right: 20px;
}